{% extends 'base.html.twig' %}

{% block title %}Edit Logbook{% endblock %}

{% block body %}
    <h1>Edit Logbook</h1>

    {{ include('logbook/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('logbook_index') }}">back to list</a>

    {{ include('logbook/_delete_form.html.twig') }}
{% endblock %}
