{% extends 'base.html.twig' %}

{% block title %}Logbook index{% endblock %}

{% block body %}
    <h1>Logbook index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brief_nr</th>
                <th>Datum</th>
                <th>Kubs</th>
                <th>Laadplaats</th>
                <th>Vertrektijd</th>
                <th>Bestemming</th>
                <th>Evenement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logbook in logbooks %}
            <tr>
                <td>{{ logbook.id }}</td>
                <td>{{ logbook.briefNr }}</td>
                <td>{{ logbook.datum ? logbook.datum|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ logbook.kubs }}</td>
                <td>{{ logbook.laadplaats }}</td>
                <td>{{ logbook.vertrektijd ? logbook.vertrektijd|date('H:i:s') : '' }}</td>
                <td>{{ logbook.bestemming }}</td>
                <td>{{ logbook.evenement }}</td>
                <td>
                    <a href="{{ path('logbook_show', {'id': logbook.id}) }}">show</a>
                    <a href="{{ path('logbook_edit', {'id': logbook.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('logbook_new') }}">Create new</a>
{% endblock %}
