{% extends 'base.html.twig' %}

{% block title %}Logbook{% endblock %}

{% block body %}
    <h1>Logbook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ logbook.id }}</td>
            </tr>
            <tr>
                <th>Brief_nr</th>
                <td>{{ logbook.briefNr }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ logbook.datum ? logbook.datum|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Kubs</th>
                <td>{{ logbook.kubs }}</td>
            </tr>
            <tr>
                <th>Laadplaats</th>
                <td>{{ logbook.laadplaats }}</td>
            </tr>
            <tr>
                <th>Vertrektijd</th>
                <td>{{ logbook.vertrektijd ? logbook.vertrektijd|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Bestemming</th>
                <td>{{ logbook.bestemming }}</td>
            </tr>
            <tr>
                <th>Evenement</th>
                <td>{{ logbook.evenement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('logbook_index') }}">back to list</a>

    <a href="{{ path('logbook_edit', {'id': logbook.id}) }}">edit</a>

    {{ include('logbook/_delete_form.html.twig') }}
{% endblock %}
